p {
  text-align: center;
  color: white;
  font-family: "Courier New", monospace;
  font-size: 60px;
}

a {
color: white;
  font-family: "Courier New", monospace;
  font-size: 15px;
}

p1 {
color: white;
  font-family: "Courier New", monospace;
  font-size: 15px;
}
body {
 background-image: linear-gradient(to right,  #ff9933, #00cc99);
}

* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

.container {
     display: flex;
     flex-wrap: wrap;
     padding: 5px;
     justify-content: flex-end;
}
.item {
     margin: 5px;
}
